@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

@media screen and (min-width: 768px) {
  body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }

  #mob,
  .hello,
  .flex-section,
  .item-menu,
  .featured-speakers-column-m,
  .featured-speakers-column-m1,
  .featured-speakers-headerm,
  .my-menu {
    display: none;
  }

  .top-row {
    display: flex;
    background-color: #272a31;
    justify-content: center;
    padding-left: 33rem;
    height: 1.5rem;
    gap: 0.75rem;
    padding-top: 1rem;
  }

  .items .dr {
    color: #ec5242;
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: #6070ff;
  }

  .top-row a {
    color: white;
    text-decoration: none;
    margin-right: 13px;
    font-size: small;
  }

  .button-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 5em;
  }

  .row {
    width: 100%;
    height: 50%;
  }

  .kineki {
    font-size: smaller;
    filter: invert(100%);
  }

  .qrchina {
    display: flex;
    padding-left: 44rem;
    margin-top: -4rem;
  }

  .my-logo {
    margin-left: 6rem;
  }

  .sada {
    filter: invert(100%);
  }

  .jebaga {
    padding-left: 7rem;
    margin-right: 4rem;
  }

  #jen {
    width: 40%;
  }

  #dva {
    width: 40%;
  }

  .row-2 {
    height: 200px;
    display: flex;
    background-color: #272a31;
    align-items: center;
  }

  .dragisa1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid #e5e5e5;
  }

  h5 {
    font-size: xx-large;
    text-align: center;
    color: #5d5d60;
  }

  #nesto {
    width: 40%;
    color: #5d5d60;
    border: 3px solid #e5e5e5;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-top: -3rem;
  }

  .jbg {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 10rem;
    justify-content: center;
  }

  .con {
    font-size: medium;
    margin: 1rem;
    color: #8f8f8e;
    padding: 2rem 1rem 2rem 1rem;
    border: 3px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
  }

  h3 {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 3rem;
    text-align: center;
    width: 70%;
    color: #6f7676;
  }

  .line1 {
    height: 48px;
    position: relative;
    width: 2px;
    top: -3.5rem;
    rotate: 90deg;
    left: 0;
    background-color: #ec5242;
  }

  .paco {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  h4 {
    position: relative;
    top: -4rem;
    text-align: center;
  }

  .line2 {
    height: 48px;
    position: relative;
    width: 2px;
    top: -3.5rem;
    rotate: 90deg;
    align-content: center;
    left: 20rem;
    background-color: #ec5242;
  }

  .desknav {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em;
    background-color: white;
    justify-content: center;
  }

  .con1 {
    position: relative;
    top: -3rem;
  }

  .items {
    display: flex;
    padding-left: 5rem;
    align-items: center;
  }

  .items a {
    padding-right: 20px;
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: color 2s;
  }

  .main-section {
    background-image: url(img/main_big.png);
    background-repeat: no-repeat;
    background-size: 150% 115%;
    background-color: white;
    display: flex;
    padding: 97px 165px 32px 54px;
  }

  .main-section h1 {
    font-size: 3rem;
    color: orangered;
    text-align: center;
  }

  h2 {
    position: relative;
    color: #414244;
    font-size: smaller;
  }

  .column-2 {
    font-size: small;
    position: relative;
    color: #6f7676;
    bottom: 1rem;
    margin: 4rem;
    font-weight: bold;
    text-align: center;
  }

  button {
    border: 3px solid orangered;
    width: 140px;
    height: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: red;
    background-color: white;
    margin-right: 6rem;
  }
}
