@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

body {
  /* background-color: #e5e5e5; */
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

.header-section,
.hello1,
#desk,
.featured-speakers-column,
.featured-speakers-column1,
.top-row,
.my-logo,
.featured-speakers-header {
  display: none;
}

.main {
  height: 100%;
}

.my-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(img/mobile_intro_bg.png);
  text-align: left;
  z-index: 1;
}

.mobile-nav {
  padding: 15px 28px;
}

.fa-times {
  font-size: xxx-large;
  color: #272a31;
}

.resto {
  text-decoration: none;
  font-size: xx-large;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  color: #344563;
}

.icon {
  position: relative;
  right: 1rem;
}

.dragisa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
}

.dragisa1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #e5e5e5;
}

h5 {
  font-size: x-large;
  text-align: center;
  color: #5d5d60;
}

#nesto {
  position: relative;
  height: 150%;
  bottom: 9rem;
  font-size: small;
  width: 70%;
  margin: 1rem;
  color: #5d5d60;
  padding: 1rem 2rem 1rem 1rem;
  border: 3px solid #e5e5e5;
  background-color: #fff;
}

h3 {
  font-size: small;
  position: relative;
  color: #6f7676;
  bottom: 8rem;
  margin: 4rem;
  font-weight: bold;
  text-align: center;
}

.line1 {
  height: 48px;
  position: relative;
  width: 2px;
  top: -3.5rem;
  rotate: 90deg;
  left: 0;
  background-color: #ec5242;
}

.line2 {
  height: 48px;
  position: relative;
  width: 2px;
  top: -3.5rem;
  rotate: 90deg;
  background-color: #ec5242;
}

.jbg {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

#jen {
  width: 80%;
}

#dva {
  width: 80%;
}

.flex-section {
  margin-bottom: 2rem;
  display: flex;
}

.row {
  width: 100%;
  height: 50%;
}

.row-1 {
  display: flex;
  padding-bottom: 1rem;
  height: 200px;
  gap: 1rem;
  background-color: #414244;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row-1-col-1 {
  color: #8f8f8e;
  font-size: x-large;
}

.row-1-col-2 {
  position: relative;
  height: 2px;
  width: 3rem;
  left: 2em;
  background-color: #ec5242;
}

.row-1-col-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* margin: -1rem; */
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.row-2 {
  height: 200px;
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
}

.jebaga {
  margin-right: 1rem;
  margin-left: 1rem;
  filter: invert(100%);
}

.kineki {
  font-size: xx-small;
}

h4 {
  position: relative;
  top: -4rem;
  text-align: center;
  width: 78%;
}

.paco {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.hello {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.item-menu {
  position: relative;
  top: 6rem;
  left: -2rem;
  font-size: 3em;
  color: #272a31;
}

.c-m {
  font-size: xx-large;
  color: #ec5242;
  text-decoration: none;
}

.main-section {
  background-image: url(img/mobile_intro_bg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

p {
  position: relative;
  color: #ec5242;
}

#jedan {
  position: relative;
  font-size: xx-large;
  font-weight: bold;
  color: #ed2727;
  text-align: center;
}

.con {
  font-size: small;
  margin: 1rem;
  color: #5d5d60;
  padding: 1rem 2rem 1rem 1rem;
  border: 3px solid #e5e5e5;
  background-color: #fff;
}

h1 {
  text-align: center;
}

h2 {
  color: #414244;
  font-size: smaller;
}

.column-2 {
  font-size: small;
  position: relative;
  color: #6f7676;
  font-weight: bold;
  text-align: center;
}
